/* index.html */
body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f9;
      margin: 0;
      padding: 0;
      color: #333;
    }
    header {
      background-color: #dd2222;
      color: white;
      padding: 15px 20px;
      text-align: center;
      font-size: 24px;
    }
    nav {
      display: flex;
      justify-content: center;
      background-color: #eee;
      padding: 10px;
      gap: 20px;
    }

  /*кнопки в index */
    .button_simulation {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }
    .button_trainer {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }
    .button_progress {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }
    .button_history {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }
    .button_base {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }
    .button_quit {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 6px;
      transition: background 0.3s;
    }

    nav a:hover {
      background-color: #ddd;
    }
    main {
      padding: 40px;
      text-align: center;
    }
    .button {
      background-color: #dd2222;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 14px 28px;
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
    }
    
    .button:hover {
      background-color: #dd2222;
    }
    .blocks {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      margin-top: 30px;
    }
    .block {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      padding: 20px;
      transition: transform 0.2s;
    }
    .block:hover {
      transform: translateY(-5px);
    }
    footer {
      background-color: #eee;
      text-align: center;
      padding: 30px;
      font-size: 12px;
      color: #666;
      margin-top: 40px;
      
    }

    